<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated nrp -->
      <package
            uri="http://nrp.model/nrp"
            class="nrp.model.nrp.NRPPackage"
            genModel="model/nrp.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated nrp2 -->
      <package
            uri="http://nrp.model/nrp"
            class="nrp.model.nrp2.nrp.NrpPackage"/>
   </extension>

</plugin>
