<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated nrp -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="nrp.model.nrp.presentation.NRPModelWizardID"
            name="%_UI_NRPModelWizard_label"
            class="nrp.model.nrp.presentation.NRPModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/NRPModelFile.gif">
         <description>%_UI_NRPModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated nrp -->
      <editor
            id="nrp.model.nrp.presentation.NRPEditorID"
            name="%_UI_NRPEditor_label"
            icon="icons/full/obj16/NRPModelFile.gif"
            extensions="nrp"
            class="nrp.model.nrp.presentation.NRPEditor"
            contributorClass="nrp.model.nrp.presentation.NRPActionBarContributor">
      </editor>
   </extension>

</plugin>
